html,body{width:100%;}
header{
    width:100%;
    height:200px;
    border-bottom:1px solid #ccc;
    .head_top{
        width:100%;
        height:46px;
        line-height:46px;
        color:#7E7E7E;
        background-color:#F0F0F0;
        a{color:#7E7E7E;}
        .HT_left{
            text-align:center;
            float:left;
            .HT_left_l{
                position:relative;
            }
            >li{
                float:left;
                font-size:15px;
                margin-right:20px;
                >ul{
                    width:150px;
                    border:1px solid #ccc;
                    position:absolute;
                    display:none;
                    background-color:#fff;
                    z-index:10;
                    >li{
                        height:40px;
                        border-bottom:1px solid #ccc;
                        font-size:14px;
                    }
                }
            }
            >li:nth-child(1):hover>ul{
                display:block;
            }
        }
        .HT_right{
            float:right;
            >li{
                float:left;
                font-size:15px;
                margin-left:20px;
                color:#C81417;
                >span{
                    display:inline-block;
                    width:30px;
                    color:#C81417;
                    font-weight:bold;
                    background-color:#F0F0F0;
                }
            }
        }
    }
    .head_center{
        width:100%;
        background:#fff;
        margin-top:30px;
        .HC_left{
            display:inline-block;
        }
        .HC_right{
            display:inline-block;
            margin-left:190px;
            input{
                width:380px;
                height:38px;
                border:1px solid #C81417;
                border-radius:5px;
                vertical-align:bottom;
            }
            .btn{
                display:inline-block;
                width:80px;
                height:38px;
                background-color:#C81417;
                text-align:center;
                line-height:38px;
                margin-left:-4px;
                border-radius:5px;
                font-size:24px;
                color:#fff;
            }
        }
    }
    .head_bottom{
        .nav{
            float:left;
            margin-left:200px;
            >li{
                float:left;
                height:45px;
                // text-align:
                line-height:45px;
                margin-left:125px;
                font-size:24px;
                font-weight:bold;
                // background:orange;
                a{color:#000;}
                >span{margin-left:5px;}
            }
            >li:nth-child(-n+3):hover{border-bottom:5px solid #C81417;}
            .nav_one{
                border:none;
                position:relative;
                .nav_two{
                    position:absolute;
                    z-index:1000000000;
                    background:#fff;
                    width:1140px;
                    height:568px;
                    left:-850px;
                    border:1px solid #ccc;
                    display:none;
                    .nav_two_top{
                        overflow:hidden;
                        margin:0 auto;
                        >ul{
                            overflow:hidden;
                            width:770px;
                            height:70px;
                            margin:0 auto;
                            border-bottom:1px solid #ccc;
                            >li{
                                float:left;
                                width:80px;
                                height:30px;
                                border:1px solid #666666;
                                font-size:16px;
                                text-align:center;
                                line-height:30px;
                                border-radius:5px;
                                margin:20px 0 20px 70px;
                            }
                        }
                    }
                    .nav_two_bottom{
                        overflow:hidden;
                        height:480px;
                        >div{
                            // display:none;
                            >p{
                                text-align:center;
                                height:90px;
                                line-height:90px;
                                >span{
                                    position:relative;
                                }
                                >span:before{
                                    content:"";
                                    display:inline-block;
                                    width:32px;
                                    height:2px;
                                    background:#000;
                                    position:absolute;
                                    top:18px;
                                    left:-40px;
                                }
                                >span:after{
                                    content:"";
                                    display:inline-block;
                                    width:32px;
                                    height:2px;
                                    background:#000;
                                    position:absolute;
                                    top:18px;
                                    right:-40px;
                                }
                            }
                            ul{
                                width:1040px;
                                height:155px;
                                font-size:12px;
                                margin:0 auto;
                                li{
                                    width:260px;
                                    height:80px;
                                    padding-right:15px;
                                    float:left;
                                    position:relative;
                                    >p{
                                        // display:inline-block;
                                        // margin-right:150px;
                                        height:45px;
                                    }
                                    >span{
                                        font-size:16px;
                                        >a:hover{color:#C81417;}
                                    }
                                    .fr{
                                        position:absolute;
                                        top:25px;
                                        left:180px;
                                    }
                                }
                            }
                            >.pinpai{
                                >.p{
                                    
                                    height:90px;
                                    line-height:90px;
                                    >span{
                                        display:inline-block;
                                        text-align:center;
                                        width:100%;
                                        // height:31px;
                                        position:relative;
                                    }
                                    >span:before{
                                    content:"";
                                    display:inline-block;
                                    width:32px;
                                    height:2px;
                                    background:#000;
                                    position:absolute;
                                    top:50%;
                                    left:42%;

                                    }
                                    >span:after{
                                        content:"";
                                        display:inline-block;
                                        width:32px;
                                        height:2px;
                                        background:#000;
                                        position:absolute;
                                        top:50%;
                                        right:42%;
                                    }
                                }
                                ul{
                                    width:1040px;
                                    height:145px;
                                    margin:0 auto;
                                    li{
                                        width:112px;
                                        margin:0 8px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .aa{background:#C81417;color:#fff;}
    .blk{display:block;}
    .hid{display:none;}
}