header {
  width: 100%;
  height: 200px;
}

header .head_top {
  width: 100%;
  height: 46px;
  line-height: 46px;
  color: #7E7E7E;
  background-color: #F0F0F0;
}

header .head_top a {
  color: #7E7E7E;
}

header .head_top .HT_left {
  text-align: center;
  float: left;
}

header .head_top .HT_left .HT_left_l {
  position: relative;
}

header .head_top .HT_left > li {
  float: left;
  font-size: 15px;
  margin-right: 20px;
}

header .head_top .HT_left > li > ul {
  width: 150px;
  border: 1px solid #ccc;
  position: absolute;
  display: none;
  background-color: #fff;
}

header .head_top .HT_left > li > ul > li {
  height: 40px;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}

header .head_top .HT_left > li:nth-child(1):hover > ul {
  display: block;
}

header .head_top .HT_right {
  float: right;
}

header .head_top .HT_right > li {
  float: left;
  font-size: 15px;
  margin-left: 20px;
  color: #C81417;
}

header .head_top .HT_right > li input {
  display: inline-block;
  width: 30px;
  color: #C81417;
  font-weight: bold;
  background-color: #F0F0F0;
}

header .cart_header_bottom {
  height: 74px;
  margin-top: 20px;
}

header .cart_header_bottom .cart_header_bottom_l {
  display: inline-block;
}

header .cart_header_bottom .cart_header_bottom_r {
  display: inline-block;
  margin-left: 190px;
}

header .cart_header_bottom .cart_header_bottom_r input {
  width: 380px;
  height: 38px;
  border: 1px solid #C81417;
  border-radius: 5px;
  vertical-align: bottom;
}

header .cart_header_bottom .cart_header_bottom_r .btn {
  display: inline-block;
  width: 80px;
  height: 38px;
  background-color: #C81417;
  text-align: center;
  line-height: 38px;
  margin-left: -4px;
  border-radius: 5px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.cart_main .cart_main_top {
  display: block;
  width: 122px;
  text-align: center;
  border-bottom: 4px solid #D61417;
}

.cart_main .cart_main_center > table {
  width: 1100px;
  border: 1px solid #ccc;
  margin: 20px 0;
}

.cart_main .cart_main_center > table tbody tr {
  text-align: center;
  border-bottom: 1px solid #FAFAFA;
}

.cart_main .cart_main_center > table tbody tr .td_two {
  text-align: left;
}

.cart_main .cart_main_center > table tbody tr .td_two #cart_img {
  width: 60px;
  height: 60px;
  display: inline-block;
}

.cart_main .cart_main_center > table tbody tr .td_two > p {
  display: inline-block;
  margin-right: 50px;
}

.cart_main .cart_main_center > table tbody tr td {
  font-size: 14px;
}

.cart_main .cart_main_center > table tbody tr td p {
  margin: 10px 0;
}

.cart_main .cart_main_center > table tbody tr td span {
  color: #999999;
}

.cart_main .cart_main_center > table tbody tr td a {
  display: inline-block;
  margin-right: 10px;
  float: left;
}

.cart_main .cart_main_center > table tbody tr td button {
  width: 50px;
  height: 30px;
  color: #fff;
  background-color: #FF3344;
  border-radius: 10px;
  cursor: pointer;
}

.cart_main .cart_main_center > table tbody .tr {
  background-color: #FFF6EB;
  box-shadow: 0 0.5px 2px 1px #FF3344;
}

.cart_main .cart_main_bottom {
  height: 90px;
  background-color: #F5F5F5;
  text-align: center;
  line-height: 90px;
  font-size: 14px;
}

.cart_main .cart_main_bottom > input {
  margin-right: 20px;
}

.cart_main .cart_main_bottom span {
  margin: 0 50px;
  font-weight: bold;
  font-size: 20px;
}

.cart_main .cart_main_bottom span em {
  font-size: 20px;
  font-weight: bold;
  color: #C81417;
}

.cart_main .cart_main_bottom > button {
  width: 120px;
  height: 45px;
  line-height: 45px;
  font-size: 18px;
  color: #fff;
  background-color: #FF3344;
  margin-left: 32px;
  border-radius: 10px;
}
