.list_main .list_main_top {
  height: 150px;
  border: 1px solid #ccc;
  margin: 20px 0;
  padding: 10px 0;
}

.list_main .list_main_top > ul {
  width: 40px;
  height: 100%;
  overflow: hidden;
  background-color: #FAFAFA;
  display: inline-block;
  vertical-align: top;
}

.list_main .list_main_top > ul > li {
  width: 20px;
  margin: 20px auto;
}

.list_main .list_main_top > div {
  display: inline-block;
  border-left: 1px solid #ccc;
}

.list_main .list_main_top > div ul li {
  float: left;
  width: 270px;
  margin-right: 10px;
}

.list_main .list_main_top > div ul li a {
  margin-right: 10px;
  float: left;
}

.list_main .list_main_top > div ul li p {
  font-size: 14px;
}

.list_main .list_main_top > div ul li span {
  display: block;
  font-size: 12px;
  color: #FF3243;
  margin: 20px 0;
}

.list_main .list_main_top > div ul li button {
  width: 80px;
  height: 32px;
  color: #656565;
}

.list_main .list_main_bottom .list_main_bottom_top {
  height: 216px;
  border: 1px solid #ccc;
  margin-bottom: 40px;
}

.list_main .list_main_bottom .list_main_bottom_top > ul {
  height: 43px;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  line-height: 43px;
  padding-left: 10px;
}

.list_main .list_main_bottom .list_main_bottom_top > ul > li {
  float: left;
  margin: 0 20px;
  cursor: pointer;
}

.list_main .list_main_bottom .list_main_bottom_left {
  width: 190px;
  display: inline-block;
  vertical-align: top;
}

.list_main .list_main_bottom .list_main_bottom_left .hot {
  border: 1px solid #ccc;
  margin-bottom: 16px;
}

.list_main .list_main_bottom .list_main_bottom_left .hot > p {
  height: 42px;
  background-color: #FAFAFA;
  line-height: 42px;
  text-align: center;
  font-size: 12px;
}

.list_main .list_main_bottom .list_main_bottom_left .hot > p span {
  color: #C71417;
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
}

.list_main .list_main_bottom .list_main_bottom_left .hot > ul {
  padding: 15px 20px 0 20px;
}

.list_main .list_main_bottom .list_main_bottom_left .hot > ul > li {
  text-align: center;
  transition: box-shadow 0.2s;
  margin-top: 5px;
}

.list_main .list_main_bottom .list_main_bottom_left .hot > ul > li p {
  font-size: 12px;
  margin: 10px 0;
}

.list_main .list_main_bottom .list_main_bottom_left .hot > ul > li span {
  font-size: 14px;
  color: #FF338F;
  font-weight: bold;
}

.list_main .list_main_bottom .list_main_bottom_left .hot > ul li:hover {
  box-shadow: 0 5px 5px 5px #ccc;
}

.list_main .list_main_bottom .list_main_bottom_left .news {
  border: 1px solid #ccc;
}

.list_main .list_main_bottom .list_main_bottom_left .news > p {
  height: 42px;
  background-color: #FAFAFA;
  line-height: 42px;
  text-align: center;
  font-size: 12px;
}

.list_main .list_main_bottom .list_main_bottom_left .news > p span {
  color: #C71417;
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
}

.list_main .list_main_bottom .list_main_bottom_left .news > ul {
  padding: 15px 20px 0 20px;
}

.list_main .list_main_bottom .list_main_bottom_left .news > ul > li {
  text-align: center;
  transition: box-shadow 0.2s;
  margin-top: 5px;
}

.list_main .list_main_bottom .list_main_bottom_left .news > ul > li p {
  font-size: 12px;
  margin: 10px 0;
}

.list_main .list_main_bottom .list_main_bottom_left .news > ul > li span {
  font-size: 14px;
  color: #FF338F;
  font-weight: bold;
}

.list_main .list_main_bottom .list_main_bottom_left .news > ul li:hover {
  box-shadow: 0 5px 5px 8px #ccc;
}

.list_main .list_main_bottom .list_main_bottom_right {
  width: 1000px;
  display: inline-block;
  margin-bottom: 28px;
}

.list_main .list_main_bottom .list_main_bottom_right > dl {
  height: 42px;
  background-color: #F9F9F7;
  line-height: 42px;
  font-size: 14px;
}

.list_main .list_main_bottom .list_main_bottom_right > dl dt {
  float: left;
  padding: 0 10px;
}

.list_main .list_main_bottom .list_main_bottom_right > dl dd {
  float: left;
  border: 1px solid #ccc;
  height: 28px;
  line-height: 26px;
  margin: 6px auto;
  padding: 0 16px;
  cursor: pointer;
  position: relative;
}

.list_main .list_main_bottom .list_main_bottom_right > dl dd i {
  position: absolute;
  top: -2px;
  right: 0;
  display: none;
}

.list_main .list_main_bottom .list_main_bottom_right > dl dd:hover {
  background-color: #DC3645;
  color: #fff;
  font-weight: bold;
}

.list_main .list_main_bottom .list_main_bottom_right > dl .dd {
  background-color: #DC3645;
  color: #fff;
  font-weight: bold;
}

.list_main .list_main_bottom .list_main_bottom_right ul li {
  float: left;
  width: 240px;
  height: 390px;
  margin: 20px 5px 0 5px;
  transition: box-shadow 0.2s;
}

.list_main .list_main_bottom .list_main_bottom_right ul li a {
  display: block;
  margin: 0 10px;
}

.list_main .list_main_bottom .list_main_bottom_right ul li p {
  font-size: 14px;
  margin-top: 22px;
  padding: 0 10px;
}

.list_main .list_main_bottom .list_main_bottom_right ul li p span {
  font-size: 14px;
  color: #E83B3B;
  font-weight: bold;
}

.list_main .list_main_bottom .list_main_bottom_right ul li p del {
  font-size: 12px;
}

.list_main .list_main_bottom .list_main_bottom_right ul li dl {
  padding: 0 20px;
  margin-top: 20px;
  height: 38px;
}

.list_main .list_main_bottom .list_main_bottom_right ul li dl dd {
  float: left;
  margin: 0 2px;
  cursor: pointer;
}

.list_main .list_main_bottom .list_main_bottom_right ul li:hover {
  box-shadow: 0 5px 20px 10px #ccc;
}

.list_main .list_main_bottom #page {
  text-align: center;
}

.list_main .list_main_bottom #page span {
  display: inline-block;
  margin: 5px;
  width: 40px;
  line-height: 1.8;
  text-align: center;
  background-color: #dfdfdf;
  color: #666;
}

.list_main .list_main_bottom #page .active {
  background-color: #fc0;
  color: #fff;
}
