header {
  height: 120px;
  padding-top: 35px;
}

header div {
  display: inline-block;
}

header ul {
  float: right;
}

header ul li {
  float: left;
  width: 240px;
}

header ul li p {
  font-size: 20px;
  color: #D61518;
}

header ul li img {
  float: left;
  margin-right: 10px;
}

main > .main_l {
  display: inline-block;
  cursor: pointer;
}

main > .main_r {
  width: 350px;
  height: 500px;
  border: 1px solid #ccc;
  float: right;
}

main > .main_r > p {
  height: 52px;
  font-size: 14px;
  line-height: 52px;
  padding-left: 20px;
  background-color: #F5F5F5;
}

main > .main_r > p a {
  display: inline-block;
  margin-right: 20px;
  color: orange;
  float: right;
}

main > .main_r > p a:hover {
  color: #FF7800;
}

main > .main_r label {
  margin-left: 10px;
}

main > .main_r input {
  width: 200px;
  height: 42px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px 0;
  padding-left: 10px;
}

main > .main_r #text {
  width: 150px;
}

main > .main_r .code {
  display: inline-block;
  width: 75px;
  height: 32px;
  border: 1px solid #ccc;
  vertical-align: middle;
  border-radius: 5px;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
}

main > .main_r button {
  width: 240px;
  height: 40px;
  background-color: #C81417;
  border-radius: 10px;
  color: #fff;
  margin: 10px 50px;
  cursor: pointer;
}

main > .main_r .c {
  width: 13px;
  height: 13px;
  margin-left: 200px;
}

main > .main_r a {
  display: inline-block;
  font-size: 12px;
}

.footer_bottom {
  height: 175px;
  border-top: 1px solid #ccc;
  text-align: center;
  font-size: 14px;
  color: #666666;
}

.footer_bottom a {
  color: #666666;
}

.footer_bottom > p {
  margin-top: 20px;
}

.footer_bottom > p > span:nth-child(1) {
  border: none;
}

.footer_bottom > p span {
  border-left: 1px solid #666666;
  padding: 0 10px;
}
